.publication__container {
    grid-template-columns: repeat(1, max-content);
    justify-content: center;
}

.publication__content {
    position: relative;
    background-color: var(--container-color);
    padding: 2rem 2rem 1rem 2rem; /* Adjust the padding to control the gap between publication blocks */
}

.publication {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1.5rem; /* Add padding to create a gap between publication blocks */
    margin-bottom: 1rem; /* Add margin to separate publication blocks vertically */
}

.publication__link {
    color: var(--title-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
}

.publication__button-icon {
    font-size: 1rem;
    transition: 0.4s;
}

.publication__link:hover .publication__button-icon {
    transform: translateX(0.25rem);
}

.publication__link:hover {
    color: var(--title-color-dark);
}

.publication__title {
    color: var(--title-color);
}

.publication__authors {
    color: var(--text-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-normal);
}
